# ==============================================
# Server
# ==============================================
# ENV=local
# HOST=localhost
# PORT=8080

# ==============================================
# Database
# ==============================================
# DATABASE_URL=postgres://postgres:password@localhost:5432/mydb?sslmode=disable
