package cli

import (
	"fmt"

	"github.com/spf13/cobra"
)

func newRootCmd(version, commit string) *cobra.Command {
	cmd := &cobra.Command{
		Use:   "{{ .ProjectName }}",
		Short: "{{ .ProjectName }} CLI",
		RunE: func(cmd *cobra.Command, args []string) error {
			fmt.Println("Hello from {{ .ProjectName }}!")
			return nil
		},
	}

	cmd.AddCommand(newVersionCmd(version, commit))

	return cmd
}

// Execute runs the root command.
func Execute(version, commit string) error {
	return newRootCmd(version, commit).Execute()
}
